
MyDataScience/UdemyCourseExercises/Deep/MNIST/MNIST_data/train-images-idx3-ubyte.gz
MyDataScience/UdemyCourseExercises/Deep/MNIST/MNIST_data/t10k-images-idx3-ubyte.gz
MyDataScience/UdemyCourseExercises/Deep/MNIST/MNIST_data/train-labels-idx1-ubyte.gz
MyDataScience/UdemyCourseExercises/Deep/MNIST/MNIST_data/t10k-labels-idx1-ubyte.gz
MyDataScience/UdemyCourseExercises/Deep/MNIST/.ipynb_checkpoints/12.3. TensorFlow_MNIST_with_comments_Part_1-checkpoint.ipynb
MyDataScience/UdemyCourseExercises/Deep/MNIST/.ipynb_checkpoints/12.4. TensorFlow_MNIST_with_comments_Part_2-checkpoint.ipynb
MyDataScience/UdemyCourseExercises/Deep/MNIST/.ipynb_checkpoints/12.5. TensorFlow_MNIST_with_comments_Part_3-checkpoint.ipynb
MyDataScience/UdemyCourseExercises/Deep/MNIST/.ipynb_checkpoints/my_code-checkpoint.ipynb
MyDataScience/UdemyCourseExercises/Deep/MNIST/.ipynb_checkpoints/12.8. TensorFlow_MNIST_with_comments_Part_6-checkpoint.ipynb
